/* 
ThemeName: mon_theme
Theme URI: 
Description: Thème enfant 
Author: Ktournereau
Author URI: 
Template: twentythirteen
Version: 1.0.0
*/

@import url("../twentythirteen/style.css");

#page
{
	background-color: #e8e5ce;
}

#comments
{
	display: none;	
}

#recent-comments-2
{
	display: none;
}

.paging-navigation
{
	background-color: #FFF;
	margin-top:30px;
}

.entry-header
{
	width:80%;
}

.site-title
{
   -webkit-text-stroke: 1px #000;
   color: #e8e5ce;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.site-description
{
	font-size:30px;
	font-family: monospace;
	font-variant: small-caps;
	margin-left:30px;
}

.site-description:first-letter
{
   color: #e8e5ce;
   font-size: 40px;
   -webkit-text-stroke: 1px #000;

}

#navbar
{
	background-color:#220e10;
	box-shadow: 0px 0px 6px 6px #220e10;
}

#navbar a
{
	color:#e8e5ce;
}

#navbar a:hover
{
	color:#b5ac61;
}

p strong
{
	color:#220e10;
	font-size: x-large;
}

.entry-title
{
	text-align: center;
	border-bottom: 1px solid #b5ac61;
}

.archive-header
{
	background-color:#FFF;
	margin-top:30px;
	margin-bottom:20px;
}

.site-footer
{
	background-color: #FFF;
	width:100%;
}


h1.site-title
{
	text-decoration: none;
}

article
{
	background-color: #FFF;
	width:70%;
	margin:0px auto;
	border-radius:50px 0px 50px 0px;
	margin-top:30px;
	box-shadow: 0px 0px 6px 6px #FFF;
	text-align: justify;
}

#colophon
{
	margin-top:30px;
}

.post-navigation
{
	margin-top:30px;
}